<!DOCTYPE html>

<html lang="it" ng-app="thingsAngular">
<head>
    <meta charset="utf-8" />
    <title>Things Console with FreeAnts Angular SDK</title>
    <!-- Base Libraries -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/signalr/jquery.signalR.min.js"></script>

	<script src="bower_components/freeants-angular/dist/freeants-angular.debug.js"></script>
    <!--<script src="bower_components/freeants-angular/dist/freeants-angular.min.js"></script>-->

    <script>
        'use strict'

        var app = angular.module('thingsAngular', ['freeants']);

        app.constant("path", {
            server: "http://titaggocoreportal.azurewebsites.net/",
            api: "http://titaggocoreportal.azurewebsites.net/api"
        });

        app.config(['accountManagerProvider',
            function (accountManagerProvider) {

                accountManagerProvider.setAppName("thingsAngular");
                accountManagerProvider.setStorage(localStorage, "AccessTokenOrDWApiKey");
                accountManagerProvider.setApiKey("inser your DWApiKey");

        }]);

        app.run(['$http', '$rootScope', 'SignalRConnector', 'path', 'thingsDataContext', 'thingUserRightsDataContext', 'ThingsManager', 'accountManagerService',
            function ($http, $rootScope, SignalRConnector, path, thingsDataContext, thingUserRightsDataContext, ThingsManager, accountManagerService) {                

                //Initialize SignalR
               function connectionStatus(change) {
                   switch (change.newState) {
                       case mynotifier.connected:
                           {
                               console.log("connected");
                               break;
                           }
                       case mynotifier.connecting:
                           {
                               console.log("connecting");
                               break;
                           }
                       case mynotifier.reconnecting:
                           {
                               console.log("reconnecting");
                               break;
                           }
                       case mynotifier.disconnected:
                       default:
                           {
                               console.log("disconnected");
                               break;
                           }
                   }
               }
               function onReconnected() {
                   console.log("OnReconnected");
               };

               var mynotifier = new SignalRConnector(connectionStatus, onReconnected);

               mynotifier.setHook('onCreateThing', function (thing) {
                   console.log('OnCreateThing');
               });
               mynotifier.setHook('onCreateChildThingId', function (parentThingId, childThingId, kind) {
                   console.log('onCreateChildThingId');
               });
               mynotifier.setHook('onUpdateThingValue', function (thingId, value) {
                   console.log('onUpdateThingValue');
               });
               mynotifier.setHook('onDeleteChildThingId', function (parentThingId, childThingId, kind) {
                   console.log('onDeleteChildThingId');
               });

               function subscribeSuccess() {
                   console.log('SignalR Subscribe Success');
               }
               function subscribeFail() {
                   console.log('SignalR Subscribe Failed');
               }
               mynotifier.subscribe(path.server + "signalr", "DWApiKey", accountManagerService.getApiKey, subscribeSuccess, subscribeFail);

            }]);

        // Define the `ThingsListController` controller
        app.controller('ThingsListController', ['$q', '$scope', 'thingsManager', function ThingsListController($q, $scope, thingsManager) {

            $scope.things = [];

            var cancel = $q.defer();
            var def = $q.defer();

            var getThingsParams = {			
                parentThingId: null,
                filter: "Name eq 'favorite'",
                top: 20,
                skip: 0,
                orderBy: null,
                valueFilter: null
            };
            thingsManager.getThings(getThingsParams, cancel)
			.then(function (data1) {
                var promises = [];

                for (var i = 0; i < data1.things.length; i++) {
                    var getThingsParams = {
                        //parentThingId: null,
                        filter: null,
                        top: 20,
                        //skip: 0,
                        orderBy: null,
                        valueFilter: null
                    };  
                    promises.push(thingsManager.elapseThing(data1.things[i], getThingsParams, cancel));
                }

                for (var i = 0; i < data1.things.length; i++) {
                    thingsManager.collapseThing(data1.things[i], cancel);
                }
                
                promises = [];
                cancel = $q.defer();

                for (var i = 0; i < data1.things.length; i++) {
                    var getThingsParams = {
                        //parentThingId: null,
                        filter: null,
                        top: 20,
                        //skip: 0,
                        orderBy: null,
                        valueFilter: null
                    };                     
                    promises.push(thingsManager.elapseThing(data1.things[i], getThingsParams, cancel));
                }        

                $q.all(promises)
                .then(function (data) {
                    def.resolve(data1);
                }, function (data) {
                    cancel.resolve();
                    def.reject(data);
                });                
			});

            def.promise
            .then(function(data) {
                $scope.things = data.things;
            },function(error) {
                alert(error.data);
            });

        }]);

    </script>

</head>
<body>
	<div>
		// Bravo!
	</div>
    <div ng-controller="ThingsListController">
        <ul>
            <li ng-repeat="thing in things">
                <span>{{thing.id}}</span>
                <span>{{thing.name}}</span>
                <ul>
                    <li ng-repeat="child in thing.children">
                        <span>{{child.name}}</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</body>

</html>
