<!DOCTYPE html>

<html lang="it" ng-app="thingsAngular">
<head>
    <meta charset="utf-8" />

    <title>Things Console with FreeAnts Angular SDK</title>

    <!-- Base Libraries -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/signalr/jquery.signalR.min.js"></script>
    <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
    
     <!-- Must be the First -->    
    <script src="src/module.js"></script>

	<script src="src/accountDataContext.js"></script>
    <script src="src/accountManager.js"></script>
    <script src="src/asyncLoader.js"></script>
    <script src="src/constants.js"></script>
    <script src="src/helpers.js"></script>
    <script src="src/localizator.js"></script>
    <script src="src/loginDataContext.js"></script>
    <script src="src/notifiersConnector.js"></script>
    <script src="src/pushNotificationsDataContext.js"></script>
    <script src="src/schedulerDataContext.js"></script>
    <script src="src/thingDataContext.js"></script>
    <script src="src/ThingModel.js"></script>
    <script src="src/thingsManager.js"></script>
    <script src="src/thingUserRightsDataContext.js"></script>
    <script src="src/translationService.js"></script>
    <script src="src/userDataContext.js"></script>
    <script src="src/usersManager.js"></script>

    <!-- Can be copied to examples -->    

    <!-- Layout like pinterest -->
    <style>

        body {
            background: url(http://subtlepatterns.com/patterns/scribble_light.png) ;
        }

        #wrapper {
            width: 90%;
            max-width: 1100px;
            min-width: 800px;
            margin: 50px auto;
        }

        #columns {
            -webkit-column-count: 3;
            -webkit-column-gap: 10px;
            -webkit-column-fill: auto;
            -moz-column-count: 3;
            -moz-column-gap: 10px;
            -moz-column-fill: auto;
            column-count: 3;
            column-gap: 15px;
            column-fill: auto;
        }

        .pin {
            display: inline-block;
            background: #FEFEFE;
            border: 2px solid #FAFAFA;
            box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
            margin: 0 2px 15px;
            -webkit-column-break-inside: avoid;
            -moz-column-break-inside: avoid;
            column-break-inside: avoid;
            padding: 15px;
            padding-bottom: 5px;
            background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
            opacity: 1;
            
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease;
        }

        .pin img {
            width: 100%;
            border-bottom: 1px solid #ccc;
            padding-bottom: 15px;
            margin-bottom: 5px;
        }

        .pin p {
            font: 12px/18px Arial, sans-serif;
            color: #333;
            margin: 0;
        }

        @media (min-width: 960px) {
            #columns {
                -webkit-column-count: 4;
                -moz-column-count: 4;
                column-count: 4;
            }
        }

        @media (min-width: 1100px) {
            #columns {
                -webkit-column-count: 5;
                -moz-column-count: 5;
                column-count: 5;
            }
        }

        #columns:hover .pin:not(:hover) {
            opacity: 0.4;
        }

    </style>

    <!-- Can be copied to examples -->
    <script>
        'use strict'
        
        /* ng-infinite-scroll - v1.0.0 - 2013-02-23 */
        // you might call this after your module initalization
        angular.module('infinite-scroll').value('THROTTLE_MILLISECONDS', 500);

        var app = angular.module('thingsAngular', ['freeants', 'infinite-scroll']);

        app.constant("path", {
            server: "http://titaggocoreportal.azurewebsites.net/",
            api: "http://titaggocoreportal.azurewebsites.net/api"
        });

        app.config(['accountManagerProvider',
            function (accountManagerProvider) {

                accountManagerProvider.setAppName("thingsAngular");
                accountManagerProvider.setStorage(localStorage, "AccessTokenOrDWApiKey");
                accountManagerProvider.setApiKey("6fce33cc-2e21-4669-9000-dc2b5bc9cc99");

        }]);

    </script>
        
    <!-- Can be copied to examples -->
    <script>

        'use strict'
        
        app.factory('mainNotifier', ['notifierConnector', 'accountManagerService', 'path', '$timeout',
            function (notifierConnector, accountManagerService, path, $timeout) {

            function connectionStatus(change) {
                switch (change.newState) {
                    case notifierConnector.connected:
                        {
                            console.log("SignalR connected");
                            break;
                        }
                    case notifierConnector.connecting:
                        {
                            console.log("SignalR connecting");
                            break;
                        }
                    case notifierConnector.reconnecting:
                        {
                            console.log("SignalR reconnecting");
                            break;
                        }
                    case notifierConnector.disconnected:
                        {
                            console.log("SignalR disconnected");
                            break;
                        }
                    default:
                        {
                            console.log("SignalR connection status not recognized");
                            break;
                        }
                }
                //TODO: Questo timeout serve come workarround per aggiornare lo stato di connessione di signalR.
                //      Togliendolo lo stato di connessione non si aggiorna
                $timeout(null, 1);
            }
            function onReconnected() { }

            notifierConnector.init(connectionStatus, onReconnected);

            function subscribeSuccess() {
                console.log('SignalR Subscribe Success');
            }
            function subscribeFail() {
                console.log('SignalR Subscribe Failed');
            }

            notifierConnector.setHook('onCreateThing', function (thing) {

                //INFO: Inserire qui il codice utile

                //TODO: Questo timeout serve come workarround per aggiornare lo stato di connessione di signalR.
                //      Togliendolo lo stato di connessione non si aggiorna
                $timeout(null, 1);
            });
            notifierConnector.setHook('onDeleteThing', function (thingId) {

                //INFO: Inserire qui il codice utile

                //TODO: Questo timeout serve come workarround per aggiornare lo stato di connessione di signalR.
                //      Togliendolo lo stato di connessione non si aggiorna
                $timeout(null, 1);
            });
            notifierConnector.setHook('onCreateChildThingId', function (parent, child, kind) {

                //INFO: Inserire qui il codice utile

                //TODO: Questo timeout serve come workarround per aggiornare lo stato di connessione di signalR.
                //      Togliendolo lo stato di connessione non si aggiorna
                $timeout(null, 1);
            });
            notifierConnector.setHook('onUpdateThingValue', function (thingId, value) {

                //INFO: Inserire qui il codice utile

                //TODO: Questo timeout serve come workarround per aggiornare lo stato di connessione di signalR.
                //      Togliendolo lo stato di connessione non si aggiorna
                $timeout(null, 1);
            });
            notifierConnector.setHook('onDeleteChildThingId', function (parent, child, kind) {

                //INFO: Inserire qui il codice utile

                //TODO: Questo timeout serve come workarround per aggiornare lo stato di connessione di signalR.
                //      Togliendolo lo stato di connessione non si aggiorna
                $timeout(null, 1);
            });

            var extport = {
                subscribe: function () {
                    notifierConnector.subscribe(path.server + "signalr", "DWApiKey", accountManagerService.getApiKey, subscribeSuccess, subscribeFail);
                },
                unsubscribe: function () {
                    notifierConnector.unsubscribe();
                },
                connectionStatus: notifierConnector.disconnected
            }

            return extport;
        }])

        app.run(['mainNotifier', 
            function (mainNotifier) {

                mainNotifier.subscribe();
        }]);

        app.factory('AppsManager', ['$q', '$filter', 'thingsManager', 'ThingModel',  'notifierConnector', function ($q, $filter, thingsManager, ThingModel, notifierConnector) {
        
            function AppsManager() {

                var self = this;

                this.mainApp = new ThingModel();
                this.apps = this.mainApp.children;

                this.getAppsParams = {			
                    //parentThingId: null,
                    filter: "Kind eq 'B1996416-43C2-4193-938B-0275C27479AF'",
                    //filter: "Kind eq '5F22D6AC-FAFA-4CDA-A460-1AF5E09A2D93'",
                    top: 5,
                    //skip: 0,
                    orderBy: null,
                    valueFilter: null
                };
                this.getServicesParams = {
                        parentThingId: null,
                        filter: null,
                        top: 3,
                        skip: 0,
                        orderBy: null,
                        valueFilter: null
                    };

                this.onCreateThing = function onCreateThing(thing) {
                }
                this.onDeleteChildThingId = function onDeleteChildThingId(parentThingId, childThingId, kind) {
                }
                this.onUpdateThingValue = function onUpdateThingValue(thingId, value) {
                    var result = $filter('filter')(this.mainApp.children, { id: thingId });
                    if (result.length == 0)
                        return;
                    result[0].value = value;
                }

                notifierConnector.setHook('onCreateThing', function (thing) {
                    self.onCreateThing(thing);
                });
                notifierConnector.setHook('onDeleteChildThingId', function (parentThingId, childThingId, kind) {
                    self.onDeleteChildThingId(parentThingId, childThingId, kind);
                });
                notifierConnector.setHook('onUpdateThingValue', function (thingId, value) {
                    self.onUpdateThingValue(thingId, value);
                });
            }

            AppsManager.prototype.getMoreApps = function getMoreApps(cancel) {
              
                var self = this;

                var def = $q.defer();
                                
                thingsManager.elapseThing(this.mainApp, this.getAppsParams, cancel)
                .then(function (data) {
                    // Try to get all things children
                    var promises = [];
                    
                    for (var i = 0; i < data.things.length; i++) {
                        //promises.push(self.getMoreAppsServices(data.things[i], cancel));
                    }

                    $q.all(promises)
                    .then(function () {
                        def.resolve();
                    }, function (data) {
                        if (cancel)
                            cancel.resolve();
                        def.reject(data);
                    });
                });

                return def.promise;
            }

            AppsManager.prototype.getAppsTotalItems = function() {
                return this.mainApp.childrenTotalItems;
            }

            return AppsManager;

        }]);

        // Define the `ThingsListController` controller
        app.controller('ThingsListController', ['$q', '$scope', 'AppsManager', function ThingsListController($q, $scope, AppsManager) {

            var appsManager = new AppsManager();

            var abortHttpCalls = $q.defer();
            
            $scope.apps = appsManager.apps;
            
            $scope.disableAppScroll = false;
            
            $scope.getMoreApps = function() {
                if ($scope.disableAppScroll)
                    return;

                $scope.disableAppScroll = true;

                if (appsManager.getAppsTotalItems() == $scope.apps.length)
                    return;
                
                appsManager.getMoreApps(abortHttpCalls).then(function(data) {
                    $scope.disableAppScroll = false;
                })
            }           
        }]);

        app.controller('UsersListController', ['$q', '$scope', 'UsersManager', function ThingsListController($q, $scope, UsersManager) {

            var usersManager = new UsersManager();

            var abortHttpCalls = $q.defer();
            
            $scope.users = usersManager.users;
            
            $scope.disableAppScroll = false;
            
            $scope.getMoreUsers = function() {
                if ($scope.disableUserScroll)
                    return;

                $scope.disableUserScroll = true;

                if (usersManager.getUsersTotalItems() == $scope.users.length)
                    return;
                
                usersManager.getMoreUsers(abortHttpCalls).then(function(data) {
                    $scope.disableUserScroll = false;
                })
            }           
        }]);
        

    </script>

    <!-- Dont copy to examples -->
    <script>
            'use strict'

            app.controller('PushNotificationCtrl', ['$rootScope', '$scope', 'pushNotificationsDataContext', function ThingsListController($rootScope, $scope, pushNotificationsDataContext) {

            $scope.checkboxLanguage = {
                it: false,
                en: false,
                de: false
            };
            $scope.checkboxPlatforms = {
                gcm: false,
                apns: false
            };
            
            $scope.image = "";
            $scope.extraInfo = "";
            
            //ThingId Azure PushNotificationHUB
            $scope.hubId = "8a7bc59a-aa97-409e-9fc9-c07760f17963";
            
            //Local Messages
            $scope.localMessages = [];
            $scope.addRemoveMessage = function(value){
                
                var indexFound;
               
                for(var i=0; i < $scope.localMessages.length; i++){
                    if($scope.localMessages[i].culture == value)
                        indexFound = i;
                }
                
                if(indexFound !=undefined)
                   $scope.localMessages.splice(indexFound, 1);     

                else 
                    $scope.localMessages.push({title: "", message: "", culture: value});     
            };
            
            //Platforms
            $scope.platforms = [];
            $scope.addRemovePlatform = function(value){
                
                var indexFound;
               
                for(var i=0; i < $scope.platforms.length; i++){
                    if($scope.platforms[i] == value)
                        indexFound = i;
                }
                
                if(indexFound !=undefined)
                   $scope.platforms.splice(indexFound, 1);     
                else 
                    $scope.platforms.push(value);     
                    
            };
            
            //Send Push Notification
            $scope.SendPushNotification = function(){
                $rootScope.pushModel = {
                    pns: $scope.platforms,
                    thingId: $scope.hubId,
                    localMessages : $scope.localMessages,
                    image: $scope.image,
                    extraInfo: $scope.extraInfo
                };
                
                pushNotificationsDataContext.push($rootScope.pushModel)
                .then(function(data){
                    console.log(data);
                }, function(error){
                    console.log(error);
                })
            }
            
            $scope.SavePushNotification = function(){
                $rootScope.pushModel = {
                    pns: $scope.platforms,
                    thingId: $scope.hubId,
                    localMessages : $scope.localMessages,
                    image: $scope.image,
                    extraInfo: $scope.extraInfo
                };              
            }
            
        }]);

        app.controller('SchedulerCtrl', ['$rootScope', '$scope', 'schedulerDataContext', function ThingsListController($rootScope, $scope, schedulerDataContext) {
            
            $scope.modelScheduling = {};
            $scope.modelScheduling.tags = {
                id: ""
            }
            $scope.modelScheduling.first = "";
            $scope.modelScheduling.thingId = "5ec29397-72fc-4437-bc04-0f18910a731d";
            $scope.modelScheduling.url = "http://titaggocoreportal.azurewebsites.net/api/PushNotificationsPushATrigger?DWApiKey=dfa1e8b4-a7dc-4bdd-99cb-7c08a4a75b50";
            $scope.convertPostData = function(){
                var modJson = {
                    thingId: $rootScope.pushModel.thingId,
                    pns: angular.toJson($rootScope.pushModel.pns),
                    localMessages: angular.toJson($rootScope.pushModel.localMessages),
                    image: $rootScope.pushModel.image,
                    extraInfo: $rootScope.pushModel.extraInfo
                };
               
                $scope.modelScheduling.postData = angular.toJson(modJson);
            }
            
            $scope.schedule = function(){
                schedulerDataContext.schedule($scope.modelScheduling)
                .then(function(data){
                    console.log(data);
                }, function(error){
                    console.log(error);
                })
                
            }
            
        }]);

    </script>

</head>
<body>

    <!-- Can be copied to examples -->    
	<div>
		// Bravo!
	</div>

    <div ng-controller="UsersListController" > 
        <button ng-click="getMoreUsers()">
            getMoreUsers
        </button>

        <div id="wrapper" infinite-scroll='getMoreUsers()' infinite-scroll-disabled='disableAppScroll' infinite-scroll-use-document-bottom="true">
            <div id="columns">    
                <div class="pin"  ng-repeat="user in users">
                    <span>{{user.id}}</span> - 
                    <span>{{user.name}}</span>
                </div>
            </div>
        </div>
    </div>

    <div ng-controller="ThingsListController" > 
        <button ng-click="getMoreApps()">
            getMoreApps
        </button>

        <div id="wrapper" infinite-scroll='getMoreApps()' infinite-scroll-disabled='disableAppScroll' infinite-scroll-use-document-bottom="true">
            <div id="columns">    
                <div class="pin"  ng-repeat="app in apps">
                    <span>{{app.id}}</span> - 
                    <span>{{app.name}}</span>
                    <!--
                    <span>{{app.value}}</span>
                    -->

                    <img ng-src="{{app.value.image}}" />

                    <!--
                    <ul>
                        <li ng-repeat="child in app.children">
                            <span>{{child.name}}</span>
                        </li>
                    </ul>
                    -->
                </div>
            </div>
        </div>
    </div>

    <!-- Dont copy to examples -->
    <div ng-controller="PushNotificationCtrl">
        <h3>Test send</h3>
        <input type="text" ng-model="hubId" placeholder="ThingHub ID">
        <br>
          <p>Platforms:</p><hr>
        <label>Google:
            <input type="checkbox" ng-model="checkboxPlatforms.gcm" ng-change="addRemovePlatform('gcm')">
        </label>
        <label>Apple:
            <input type="checkbox" ng-model="checkboxPlatforms.apns" ng-change="addRemovePlatform('apns')">
        </label><br><br>
        <p>Languages:</p><hr>
        <label>IT:
            <input type="checkbox" ng-model="checkboxLanguage.it" ng-change="addRemoveMessage('IT')">
        </label>
        <label>EN:
            <input type="checkbox" ng-model="checkboxLanguage.en" ng-change="addRemoveMessage('EN')">
        </label>
        <label>DE:
            <input type="checkbox" ng-model="checkboxLanguage.de" ng-change="addRemoveMessage('DE')">
        </label><br/><br />
        <div ng-repeat="localMessage in localMessages">
            <p>Add message for {{localMessage.culture}}</p>
            <input type="text" ng-model="localMessage.culture" hidden/>
            <input type="text" placeholder="Title {{localMessage.culture}}" ng-model="localMessage.title" />
            <input type="text" placeholder="Message {{localMessage.culture}}" ng-model="localMessage.message" />
            <hr>
        </div>
        <br>
          <input type="text" ng-model="image" placeholder="Image URL">
          <input type="text" ng-model="extraInfo" placeholder="EtraInfo URL parameters"><br>

        <button ng-click="SendPushNotification()">Send</button><br>
        <button ng-click="SavePushNotification()">Save</button><br>

        <code>
            {{platforms}}
        </code>
        <br>
        <code>
            {{localMessages}}
        </code>
    </div>

     <div ng-controller="SchedulerCtrl">
        <h3>Test Scheduler</h3>
        <label>Enable
          <input type="checkbox" ng-model="modelScheduling.status" ng-change="convertPostData()">
        </label>
        <input type="text" ng-model="modelScheduling.thingId" placeholder="Scheduler ID">
        <br>
  
          <p>When:</p>
            <select ng-model="modelScheduling.timeValue">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
          </select>
          <select ng-model="modelScheduling.timeQuantity">
              <option value="Minute">Minute</option>
              <option value="Hour">Hour</option>
              <option value="Day">Day</option>
              <option value="Mouth">Mouth</option>
             <option value="Year">Year</option>
          </select>
           <input type="text" ng-model="modelScheduling.first" placeholder="Start at">
        <label>How many time execute?
            <select ng-model="modelScheduling.count">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>   
          </label>
          <label>How many time retries if request fail?
            <select ng-model="modelScheduling.retires">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>   
          </label>
          <input type="text" ng-model="modelScheduling.tags.id" placeholder="tagId"><br>

          <button ng-click="schedule()">Schedule</button><br>
          <hr>
        <code>
            {{modelScheduling}}
        </code>
    </div>
</body>
</html>