<!DOCTYPE html>

<html lang="it" ng-app="thingsAngular">
<head>
    <meta charset="utf-8" />
    <title>Things Console with FreeAnts Angular SDK</title>
    <!-- Base Libraries -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/signalr/jquery.signalR.min.js"></script>

	<!-- Must be the first!!!!!! -->
	<script src="src/module.js"></script>
	
    <script src="src/account.datacontext.js"></script>
    <script src="src/asyncLoader.js"></script>
	<script src="src/helpers.js"></script>
	<script src="src/localizator.js"></script>
	<script src="src/login.datacontext.js"></script>
	<script src="src/notifiersConnector.js"></script>
	<script src="src/thing.datacontext.js"></script>
	<script src="src/things.manager.js"></script>
	<script src="src/thingUserRights.datacontext.js"></script>
	<script src="src/user.datacontext.js"></script>
	<script src="src/accountManager.js"></script>
	<script src="src/constants.js"></script>
	<script src="src/pushNotifications.datacontext.js"></script>
	<script src="src/ThingModel.js"></script>

    <script>
        'use strict'

        var app = angular.module('thingsAngular', ['freeants']);

        app.constant("path", {
            server: "http://titaggocoreportal.azurewebsites.net/",
            api: "http://titaggocoreportal.azurewebsites.net/api"
        });

        app.config(['accountManagerProvider',
            function (accountManagerProvider) {

                accountManagerProvider.setAppName("thingsAngular");
                accountManagerProvider.setStorage(localStorage, "AccessTokenOrDWApiKey");
                accountManagerProvider.setApiKey("6fce33cc-2e21-4669-9000-dc2b5bc9cc99");

        }]);

        app.run(['$http', '$rootScope', 'notifierConnector', 'path', 'thingsDataContext', 'thingUserRightsDataContext', 'ThingsManager', 'accountManagerService',
            function ($http, $rootScope, notifierConnector, path, thingsDataContext, thingUserRightsDataContext, ThingsManager, accountManagerService) {

                //Initialize SignalR
               function connectionStatus(change) {
                   switch (change.newState) {
                       case notifierConnector.connected:
                           {
                               console.log("connected");
                               break;
                           }
                       case notifierConnector.connecting:
                           {
                               console.log("connecting");
                               break;
                           }
                       case notifierConnector.reconnecting:
                           {
                               console.log("reconnecting");
                               break;
                           }
                       case notifierConnector.disconnected:
                       default:
                           {
                               console.log("disconnected");
                               break;
                           }
                   }
               }
               function onReconnected() {
                   console.log("OnReconnected");
               };

               notifierConnector.init(connectionStatus, onReconnected);

               notifierConnector.setHook('onCreateThing', function (thing) {
                   console.log('OnCreateThing');
               });
               notifierConnector.setHook('onCreateChildThingId', function (parentThingId, childThingId, kind) {
                   console.log('onCreateChildThingId');
               });
               notifierConnector.setHook('onUpdateThingValue', function (thingId, value) {
                   console.log('onUpdateThingValue');
               });
               notifierConnector.setHook('onDeleteChildThingId', function (parentThingId, childThingId, kind) {
                   console.log('onDeleteChildThingId');
               });

               function subscribeSuccess() {
                   console.log('SignalR Subscribe Success');
               }
               function subscribeFail() {
                   console.log('SignalR Subscribe Failed');
               }
               notifierConnector.subscribe(path.server + "signalr", "DWApiKey", accountManagerService.getApiKey, subscribeSuccess, subscribeFail);
        }]);

        app.factory('localThingsManager', ['$q', 'thingsManager',  function ($q, thingsManager) {
            var things = [];

            var cancel = $q.defer();
            var def = $q.defer();

            var getThingsParams = {			
                parentThingId: null,
                filter: "Name eq 'favorite'",
                top: 20,
                skip: 0,
                orderBy: null,
                valueFilter: null
            };
            thingsManager.getThings(getThingsParams, cancel)
			.then(function (data1) {
                var promises = [];

                for (var i = 0; i < data1.things.length; i++) {
                    var getThingsParams = {
                        //parentThingId: null,
                        filter: null,
                        top: 20,
                        //skip: 0,
                        orderBy: null,
                        valueFilter: null
                    };  
                    promises.push(thingsManager.elapseThing(data1.things[i], getThingsParams, cancel));
                }

                for (var i = 0; i < data1.things.length; i++) {
                    thingsManager.collapseThing(data1.things[i], cancel);
                }
                
                promises = [];
                cancel = $q.defer();

                for (var i = 0; i < data1.things.length; i++) {
                    var getThingsParams = {
                        //parentThingId: null,
                        filter: null,
                        top: 20,
                        //skip: 0,
                        orderBy: null,
                        valueFilter: null
                    };                     
                    promises.push(thingsManager.elapseThing(data1.things[i], getThingsParams, cancel));
                }        

                $q.all(promises)
                .then(function (data) {
                    def.resolve(data1);
                }, function (data) {
                    cancel.resolve();
                    def.reject(data);
                });                
			});

            def.promise
            .then(function(data) {
                for (var i = 0;i < data.things.length;i++)
                    things.push(data.things[i]);
            },function(error) {
                alert(error.data);
            });

            return {
                things : things
            }

        }]);
        // Define the `ThingsListController` controller
        app.controller('ThingsListController', ['$scope', 'localThingsManager', function ThingsListController( $scope, localThingsManager) {

            $scope.things = localThingsManager.things;
           
        }]);

    </script>

</head>
<body>
	<div>
		// Bravo!
	</div>
    <div ng-controller="ThingsListController">
        <ul>
            <li ng-repeat="thing in things">
                <span>{{thing.id}}</span>
                <span>{{thing.name}}</span>
                <ul>
                    <li ng-repeat="child in thing.children">
                        <span>{{child.name}}</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</body>

</html>
