<!DOCTYPE html>

<html lang="it" ng-app="thingsAngular">
<head>
    <meta charset="utf-8" />
    <title>Things Console with FreeAnts Angular SDK</title>
    <!-- Base Libraries -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/signalr/jquery.signalR.min.js"></script>

	<!-- Must be the first!!!!!! -->
	<script src="src/module.js"></script>
	
    <script src="src/account.datacontext.js"></script>
    <script src="src/asyncLoader.js"></script>
	<script src="src/helpers.js"></script>
	<script src="src/localizator.js"></script>
	<script src="src/login.datacontext.js"></script>
	<script src="src/notifiersConnector.js"></script>
	<script src="src/thing.datacontext.js"></script>
	<script src="src/things.manager.js"></script>
	<script src="src/thingUserRights.datacontext.js"></script>
	<script src="src/user.datacontext.js"></script>
	<script src="src/accountManager.js"></script>
	<script src="src/constants.js"></script>
	<script src="src/pushNotifications.datacontext.js"></script>
	<script src="src/ThingModel.js"></script>

    <script>
        'use strict'

        var app = angular.module('thingsAngular', ['freeants']);

        app.constant("path", {
            server: "http://titaggocoreportal.azurewebsites.net/",
            api: "http://titaggocoreportal.azurewebsites.net/api"
        });

        app.config(['accountManagerProvider',
            function (accountManagerProvider) {

                accountManagerProvider.setAppName("thingsAngular");
                accountManagerProvider.setStorage(localStorage, "AccessTokenOrDWApiKey");
                accountManagerProvider.setApiKey("insert your DWApiKey");

        }]);

        app.run(['$http', '$rootScope', 'notifierConnector', 'path', 'thingsDataContext', 'thingUserRightsDataContext', 'ThingsManager', 'accountManagerService',
            function ($http, $rootScope, notifierConnector, path, thingsDataContext, thingUserRightsDataContext, ThingsManager, accountManagerService) {

                //Initialize SignalR
               function connectionStatus(change) {
                   switch (change.newState) {
                       case notifierConnector.connected:
                           {
                               console.log("connected");
                               break;
                           }
                       case notifierConnector.connecting:
                           {
                               console.log("connecting");
                               break;
                           }
                       case notifierConnector.reconnecting:
                           {
                               console.log("reconnecting");
                               break;
                           }
                       case notifierConnector.disconnected:
                       default:
                           {
                               console.log("disconnected");
                               break;
                           }
                   }
               }
               function onReconnected() {
                   console.log("OnReconnected");
               };

               notifierConnector.init(connectionStatus, onReconnected);

               notifierConnector.setHook('onCreateThing', function (thing) {
                   console.log('OnCreateThing');
               });
               notifierConnector.setHook('onCreateChildThingId', function (parentThingId, childThingId, kind) {
                   console.log('onCreateChildThingId');
               });
               notifierConnector.setHook('onUpdateThingValue', function (thingId, value) {
                   console.log('onUpdateThingValue');
               });
               notifierConnector.setHook('onDeleteChildThingId', function (parentThingId, childThingId, kind) {
                   console.log('onDeleteChildThingId');
               });

               function subscribeSuccess() {
                   console.log('SignalR Subscribe Success');
               }
               function subscribeFail() {
                   console.log('SignalR Subscribe Failed');
               }
               notifierConnector.subscribe(path.server + "signalr", "DWApiKey", accountManagerService.getApiKey, subscribeSuccess, subscribeFail);
        }]);

        app.factory('appsManager', ['$q', 'thingsManager', 'ThingModel',  function ($q, thingsManager, ThingModel) {

            var mainThing = new ThingModel();

            var getAppsParams = {			
                    //parentThingId: null,
                    filter: "Name eq 'favorite'",
                    top: 2,
                    //skip: 0,
                    orderBy: null,
                    valueFilter: null
                };

            var getServicesParams = {
                        parentThingId: null,
                        filter: null,
                        top: 3,
                        skip: 0,
                        orderBy: null,
                        valueFilter: null
                    };

            function getMoreServices(app, cancel) {
                return thingsManager.elapseThing(app, getServicesParams, cancel)
            }
            
            function getMoreApps(cancel) {
                
                var def = $q.defer();
                                
                thingsManager.elapseThing(mainThing, getAppsParams, cancel)
                .then(function (data) {
                    var promises = [];

                    // Try to get all things children
                    for (var i = 0; i < data.things.length; i++) {
                        promises.push(getMoreServices(data.things[i], cancel));
                    }

                    $q.all(promises)
                    .then(function () {
                        def.resolve();
                    }, function (data) {
                        cancel.resolve();
                        def.reject(data);
                    });
                });

                return def.promise;
            }

            return {
                things: mainThing.children,                
                getMoreApps: getMoreApps,
                getMoreServices: getMoreServices
            }

        }]);
        // Define the `ThingsListController` controller
        app.controller('ThingsListController', ['$scope', 'appsManager', function ThingsListController( $scope, appsManager) {

            $scope.things = appsManager.things;

            appsManager.getMoreApps(null).then(function() {
                appsManager.getMoreServices($scope.things[0]);
            });
           
        }]);

    </script>

</head>
<body>
	<div>
		// Bravo!
	</div>
    <div ng-controller="ThingsListController">
        <ul>
            <li ng-repeat="thing in things">
                <span>{{thing.id}}</span>
                <span>{{thing.name}}</span>
                <ul>
                    <li ng-repeat="child in thing.children">
                        <span>{{child.name}}</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</body>

</html>
